/* Default styles for mobile devices */

.nav-heading {
    cursor: pointer;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-div {
  background-color: #c6c8ee;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 0px 2rem 0px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.login-btn {
  color: black;
}

.badge {
  background-color: #c6c8ee;
}

.cart-icon {
    cursor: pointer;
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  .nav-heading {
    cursor: pointer;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .navbar-div {
    background-color: #c6c8ee;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0px 2rem 0px 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-right-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
  }

  .login-btn {
    color: black;
  }

  .badge {
    background-color: #c6c8ee;
  }

  .cart-icon {
    cursor: pointer;
  }
}

/* Styles for laptops and up */
@media screen and (min-width: 1024px) {
  .nav-heading {
    cursor: pointer;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .navbar-div {
    background-color: #c6c8ee;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0px 2rem 0px 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-right-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
  }

  .login-btn {
    color: black;
  }

  .badge {
    background-color: #c6c8ee;
  }

  .cart-icon {
    cursor: pointer;
  }
}
